@using ProgrammersBlog.Core.Concrete.Dtos;
@model EmailSendDto
@{
    Layout = "_ContactLayout";
    ViewBag.Title = "İletişim";
    ViewBag.Author = "ProgrammersBlog";
    ViewBag.Description = "Bizlerle iletişime geçin. ProgrammersBlog";
    ViewBag.Tags = "Contact, Contact Us, Bizle İletişime Geçin, İletişim";
}

<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
    </div>
    <form asp-action="Contact" asp-controller="Home" method="post">
        <h3>Bizlere Mesaj Bırakın</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" asp-for="Name" class="form-control" placeholder="İsminiz" />
                </div>
                <div class="form-group">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email Adresiniz" />
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Subject" class="form-control" placeholder="Konu" />
                </div>
                <div class="form-group">
                    <button type="submit" name="btnSubmit" class="btnContact">Gönder</button>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea class="form-control" asp-for="Message" placeholder="Mesajınız" style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>

